.container{
    align-items: center;

}
.btn-1{
    padding: 0.3rem 0.5rem;
    color:white;
    background-color: rgba(65, 105, 225, 0.705);
    border: 3px solid rgba(0, 0, 0, 0.541);
    cursor: pointer;
}
.btn-1:hover{
    color:royalblue;
    background-color:white;
}
body{
    height: 100vh;
    text-align: center;
    margin:15rem 0;
}
h3{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    font-size: 8rem;
    color: white;
    font-weight: 600;
    font-family:monospace
}
.head:hover{
    color: tomato;
}